@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,900&display=swap');
.happy{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 0px;
    padding-top: 210px;

}
.party{
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900px;
    line-height: 95px;
    margin: 0px;
    
}
.new{
    background-image: url("../resources/Banner\ Image.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    text-align: center;

}
.off{
    text-align: center;
    color: red;
    font-size: 88px;
    font-weight: 700;
    margin-top:  100px;
}
.holiday{
    text-align: center;
    color: red;margin-top: 50px;
}
.all{
    font-size:48px ;
    text-align: center;
    margin-top: 0px;
   
}
.image{
    text-align: center;
}
.wellcome{
    background-image: url("../resources/Vectorrr.png");
    height: 600px;
    margin-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    
}
.night{
    margin: 0px;
    color: white;
    padding-left: 900px;
    font-size: 64px
    
}
#paragraph{
    font-size: 24px;
    margin-right: 1100px;
}
.join{
    font-size:24px;
    margin-left: 920px;
    margin-top: 100px;
    color: white;
    background-color: red;
   
}
#night{
    padding-top: 126px;
}
.gift{
    padding-top: 70px;
    padding-left: 140px;
    font-weight: bolder;
    color: #F00;
    font-size: 24px;
    margin: 0px;
    
}
.awesome{
    color: #070211;
    font-size: 48px;
    padding-top: 0px;
    padding-left: 140px;
    margin: 10px;
    margin-left: 0px;
}
.great{
    font-size: 20px;
    padding-top: 0px;
    padding-left: 140px;
    margin-right: 564px;

}